@page "/chart-comparison"
@using WebviewAppShared.Data.Models;
@using WebviewAppShared.Data.Services;
<h3>Performanca e algoritmeve - Krahasimi mes tyre</h3>


<div class="container" style="display:flex">
    <div class="left-panel" style="width: 30%">
        <div class="form-group">
            <Label For="referencestring">Shkruaj vargun e faqeve (te ndare me presje):</Label>
            <TextEdit @bind-Text="ReferenceString" id="referencestring" Class="form-control" Style="height: 25%" />
        </div>

        <div class="form-group">
            <Label For="formData.">Zgjidh nje apo dy algoritme algoritem:</Label>
            <Select TValue="int" @bind-SelectedValues="SelectedAlgorithms" id="selectedalgorithm" Class="form-control" Style="width: 70%;" Multiple>
                @foreach (var option in Enum.GetValues(typeof(AlgorithmType)))
                {
                    <SelectItem Value="@option.GetHashCode()">@option</SelectItem>
                }
            </Select>
        </div>

        <div class="form-group">
            <Label For="framesizeoptions">Zgjidh nje apo me shume madhesi te kornizes memorike: </Label>
            <Select TValue="int" @bind-SelectedValues="SelectedFrameSizeOptions" Class="form-control" Style="width: 70%;" Multiple>
                @for (int i = 1; i <= 10; i++)
                {
                    int value = i;
                    <SelectItem Value="@i">@value</SelectItem>
                }
            </Select>
        </div>

        <div class="form-group" style="display:flex;justify-content:space-between">
            <button class="btn btn-primary" @onclick="GenerateGraph">Gjenero grafikun</button>
            <button class="btn btn-secondary" @onclick="ResetData">Rivendos te dhenat</button>
        </div>
    </div>

    <div class="middle-panel" style="width: 75%">
        <div id="content">
            <LineChart @ref="LineChart" TItem="int" />
        </div>
    </div>
</div>
<div class="container">
    @{
        foreach (var item in PageFaultRates)
        {
            <p> Per kornizen memorike me madhesi @item.Key ne @Enum.GetName(typeof(AlgorithmType),SelectedAlgorithms[0]) raporti i deshtimit te faqeve eshte: @item.Value %</p>
        }
        foreach (var item in PageFaultRatesSecondAlgorithm)
        {
            <p> Per kornizen memorike me madhesi @item.Key ne @Enum.GetName(typeof(AlgorithmType),SelectedAlgorithms[1]) raporti i deshtimit te faqeve eshte : @item.Value %</p>
        }
    }
</div>


@code {
    private LineChart<int> LineChart;
    private PageReplacementService PageReplacementService = new();
    private List<RequestPayload> RequestData = new();
    private Dictionary<int, decimal> PageFaultRates = new();
    private Dictionary<int, decimal> PageFaultRatesSecondAlgorithm = new();

    private IReadOnlyList<int> SelectedAlgorithms { get; set; }
    private string ReferenceString { get; set; }
    private IReadOnlyList<int> SelectedFrameSizeOptions { get; set; }

    private void SetData()
    {
        foreach (var selectedAlgorithm in SelectedAlgorithms)
        {
            var singleAlgorithmRequestData = new RequestPayload();

            foreach (var frameSizeOption in SelectedFrameSizeOptions)
            {
                singleAlgorithmRequestData.Payload.Add(new PageReplacementParameters
                    {
                        AlgorithmType = (AlgorithmType)selectedAlgorithm,
                        Pages = !string.IsNullOrEmpty(ReferenceString) ? ReferenceString.Split(',').Select(x => Convert.ToInt32(x)).ToList() : new(),
                        FrameSize = frameSizeOption
                    });
            }
            RequestData.Add(singleAlgorithmRequestData);
        }
    }

    private async Task ResetData()
    {
        SelectedAlgorithms = new int[] { (int)default(AlgorithmType) };
        ReferenceString = string.Empty;
        SelectedFrameSizeOptions = null;
        RequestData = new();

        await LineChart.Clear();
    }

    private async Task GenerateGraph()
    {
        SetData();
        var response = PageReplacementService.GetGeneratedResult(RequestData[0]);
        var frameSizes = response.FrameSizePageFailRatioData.Select(x => x.Item2);
        var pageFaults = response.FrameSizePageFailRatioData.Select(x => x.Item1);
        await LineChart.Clear();

        PageFaultRates = GetPageFaultRateData(RequestData[0].Payload.First().Pages.Count, response.FrameSizePageFailRatioData.ToList());

        if (SelectedAlgorithms.Count == 2)
        {
            var responseSecondAlgorithm = PageReplacementService.GetGeneratedResult(RequestData[1]);
            var pageFaultsSecondAlgorithm = responseSecondAlgorithm.FrameSizePageFailRatioData.Select(x => x.Item1);
            PageFaultRatesSecondAlgorithm = GetPageFaultRateData(RequestData[1].Payload.First().Pages.Count, responseSecondAlgorithm.FrameSizePageFailRatioData.ToList());

            await LineChart.AddLabelsDatasetsAndUpdate(Enumerable.ToArray<string>(frameSizes.Select(x => x.ToString())),
                                                       GetChartDataSet((AlgorithmType)SelectedAlgorithms[0], pageFaults, borderColor: "yellow", fill: false, bcgcolor: new[] { "rgba(255, 255, 0, 0.5)" }),
                                                       GetChartDataSet((AlgorithmType)SelectedAlgorithms[1], pageFaultsSecondAlgorithm, borderColor: "green", fill: false, bcgcolor: new[] { "rgba(0, 0, 255, 0.5)" })
            );
        }
        else
        {
            

            await LineChart.AddLabelsDatasetsAndUpdate(Enumerable.ToArray<string>(frameSizes.Select(x => x.ToString())),
                                                       GetChartDataSet((AlgorithmType)SelectedAlgorithms[0], pageFaults, borderColor: "yellow", fill: true, bcgcolor: new[] { "rgba(255, 255, 0, 0.5)" })
            );
        }
    }
    private LineChartDataset<int> GetChartDataSet(AlgorithmType algorithmType, IEnumerable<int> faults, string borderColor, object[] bcgcolor, bool fill)
    {
        return new LineChartDataset<int>
            {
                Label = $"# numri i deshtimeve te faqeve per {algorithmType.ToString()}",
                Data = faults.ToList(),
                Fill = fill,
                PointRadius = 3,
                CubicInterpolationMode = "monotone",
                BorderColor = borderColor,
                BackgroundColor = bcgcolor,
            };
    }

    private Dictionary<int, decimal> GetPageFaultRateData(int pagesCount, List<Tuple<int, int>> frameSizePageFaults)
    {
        var result = new Dictionary<int, decimal>();
        foreach (var tuple in frameSizePageFaults)
        {
            var faultRate = (decimal)(tuple.Item1 * 100) / pagesCount;
            result.Add(tuple.Item2, Math.Round(faultRate, 2));
        }
        return result;
    }
}